src/main/mule/p-churn-prediction-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="p-fidelite-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
	<http:request-config name="HTTP_Request_config_to_system" doc:name="HTTP Request configuration" doc:id="90f74ce3-69c5-4676-ab84-ca367dac333a" >
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
    <apikit:config name="p-fidelite-config" api="p-fidelite.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    <flow name="p-fidelite-main">
        <http:listener config-ref="p-fidelite-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-fidelite-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            </error-handler>
    </flow>
    
    <flow name="p-fidelite-console">
        <http:listener config-ref="p-fidelite-httpListenerConfig" path="/console/*" />
        <apikit:console config-ref="p-fidelite-config" />
    </flow>
    
    <flow name="get:\health:p-fidelite-config">
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "healthy" }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="post:\predict:application\json:p-fidelite-config">
    <http:request method="GET" doc:name="GET /clients/{id}/interactions"
        config-ref="HTTP_Request_config_to_system"
        path="#['/api/clients/' ++ payload.CustomerID ++ '/interactions']"
        target="clientData" responseTimeout="500000"/>

    <http:request method="POST" doc:name="POST /predict"
        config-ref="HTTP_Request_config_to_system"
        path="/api/predict"
        target="predictionResult" responseTimeout="500000">
        <http:body><![CDATA[#[vars.clientData]]]></http:body>
        <http:headers><![CDATA[#[{
            "Content-Type": "application/json"
        }]]]></http:headers>
    </http:request>

    <ee:transform doc:name="Build Payload for /churn-records">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerID: vars.clientData.CustomerID,
  EmailAddress: vars.clientData.EmailAddress,
  FullName: vars.clientData.FullName,
  predictionDetails: vars.predictionResult
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <http:request method="POST" doc:name="POST /churn-records"
        config-ref="HTTP_Request_config_to_system"
        path="/api/churn-records" responseTimeout="500000">
         <http:headers><![CDATA[#[{
            "Content-Type": "application/json"
        }]]]></http:headers>
    </http:request>

    <ee:transform doc:name="Set Final Success Response">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status": "SUCCES",
  "message": "Le processus de prédiction et d'enregistrement pour le client " ++ vars.clientData.CustomerID ++ " est terminé.",
  "finalResponse": payload
}
]]></ee:set-payload>
        </ee:message>
    </ee:transform>
</flow>
</mule>